.h1 {
  font-size: 300px;
  font-family: "Lucida Console",
    "Courier New",
    monospace;
  ;
}

html,
body,
p,
ol,
ul,
li,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

ul {
  list-style: none
}

button,
input,
select {
  margin: 0
}

*,
*::before,
*::after {
  box-sizing: border-box
}

img {
  height: auto;
  max-width: 100%
}

a {
  text-decoration: none;
}

body {
  font-family: 'Jost';
  font-size: 22px;
}



/** /контейнер для центрування контенту, розміри згідно макету/ */
/* .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
} */